@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..700&display=swap');


/* Add a black background color to the top navigation */
.topnav {
    background-color: rgba(51, 51, 51, 0.014);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgba(221, 221, 221, 0);
    color: #d0e23f;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04aa6d00;
    color: #e1e7b4;
  }


  #pxlogo{ 
	position:absolute; 
	top:5; 
	left:5;   
    opacity: 1;
    transform: scale(0.3, 0.3) ;
    transform-origin: left top;
} 
html body {
 
    background: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.85)), url(/TeddyTrexCandyMachine/banner-low.jpg) ;
    background-repeat: repeat-x, no-repeat;
    background-size: cover;
    position: relative;
}

.wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: none;
}

a {
    color: white;
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.mint-top {
    text-align:center;
    margin-top: 150px;
   
}

.logo {
    width:350px;
}


h1{
    color:white;
    font-family: "Oswald", Sans-serif;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
}

h2{
    font-family: "Oswald", Sans-serif;
    font-weight: 600;
    color:white;
    text-transform: uppercase;
}

h3 {
    font-family: "Oswald", Sans-serif;
    font-weight: 600;
    color:white;
    text-transform: uppercase;
}


.mint-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.mint-img img {
    width:400px;
    border-radius:20px;
    margin:5px;


}

.MuiContainer-root {
    margin-top:30px !important;
    
}


footer {
   
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 400px;
    margin-left:auto;
    margin-right:auto;
    color:white;
  
    
}

footer ul {
    display: flex;
    justify-content: space-between;
    
    list-style-type: none;
    padding: 10px;
    margin: 0;
  }

footer a {
    text-transform: uppercase;
    font-weight:700;
}

.mint-info {
    max-width: 444px;
    margin-top: 80px;
    margin-bottom: 40px;
    color:white;
    background: rgba(0, 0, 0, 0.4);
    padding:20px;
    line-height: 1.5em;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size: 15px;
    
}

.mint-warning {
    max-width: 550px;
    line-height: 1.5em;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin-left:auto;
    margin-right:auto;
    color:white;
    font-size: 15px;
}


@media screen and (max-width:670px) {
 
    h1{
        font-size: 50px;
    }

    .mint-img img {
        width:340px;
    }

    footer {
        width: 340px;
    }

    .mint-info {
        max-width: 444px;
        padding:10px;
    }

    .mint-warning {
        max-width: 444px;
        padding:10px;
    }
}