@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400..700&display=swap');




/*DROP DOWN*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0);
  }
  
  li {
    float: right;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: rgb(255, 255, 255); /*Normal Text Color*/
    text-align: center;
    font-family: "Montserrat";
    padding: 14px 16px;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(255, 0, 0, 0); /*Box Over Title Selected*/
    color: #d0e23f; /*Normal Text Color*/
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000; /*Dropdown BG color*/
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(212, 0, 255, 0);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255); /*Drop down text Color*/
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #d0e23f;} /*Dropdown Selection Color*/
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.pxlogo { 
	position:absolute; 
	top:15px; 
	left:15px;   
    max-width: 50%;
    max-height: 50%;
 }
   
   
html body {
 
    background: linear-gradient(rgba(0,0,0,.85), rgba(0,0,0,.85)), url(/TeddyTrexCandyMachine/banner-low.jpg) ;
    background-repeat: repeat-x, no-repeat;
    background-size: cover;
    position: relative;
}

.wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: none;
}

a {
    color: white;
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.mint-top {
    text-align:center;
    margin-top: 150px;
   
}

.logo {
    width:350px;
}


h1{
    color:white;
    font-family: "Oswald", Sans-serif;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
}

h2{
    font-family: "Oswald", Sans-serif;
    font-weight: 600;
    color:white;
    text-transform: uppercase;
}

h3 {
    font-family: "Oswald", Sans-serif;
    font-weight: 600;
    color:white;
    text-transform: uppercase;
}


.mint-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.mint-img img {
    width:400px;
    border-radius:20px;
    margin:5px;


}

.MuiContainer-root {
    margin-top:30px !important;
    
}


footer {
   
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 20px;
    width: 400px;
    margin-left:auto;
    margin-right:auto;
    color:white;
  
    
}

footer ul {
    display: flex;
    justify-content: space-between;
    
    list-style-type: none;
    padding: 10px;
    margin: 0;
  }

footer a {
    text-transform: uppercase;
    font-weight:700;
}

.mint-info {
    max-width: 444px;
    margin-top: 80px;
    margin-bottom: 40px;
    color:white;
    background: rgba(0, 0, 0, 0.4);
    padding:20px;
    line-height: 1.5em;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size: 15px;
    
}

.mint-warning {
    max-width: 550px;
    line-height: 1.5em;
    background: rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin-left:auto;
    margin-right:auto;
    color:white;
    font-size: 15px;
}


@media screen and (max-width:670px) {
 
    h1{
        font-size: 50px;
    }

    .mint-img img {
        width:340px;
    }

    footer {
        width: 340px;
    }

    .mint-info {
        max-width: 444px;
        padding:10px;
    }

    .mint-warning {
        max-width: 444px;
        padding:10px;
    }
}